# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Intermediate Directories
target
3rdparty
tools/build
tools/src
include
lib
tmp

# cmake
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
CMakeFiles
Makefile

# project files
.classpath
.project

.lein-repl-history

*~
*.swp
core*
